.map-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

nb-layout-column {
  padding: 0 !important;
}

.header {
  margin: 0.25rem;
  display: flex;
}

.header > input {
  flex-grow: 1;
}

.header > .path {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.header > div {
  flex-grow: 2;
  display: flex;
}

.header > div > nb-button-group {
  margin: auto;
  justify-items: center;
}
