.map-container {
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

nb-layout-column {
  padding: 0 !important;
}

.header {
  margin: 0.25rem;
  display: flex;
  justify-content: center;
}

.header > input {
  flex-grow: 1;
}

.header > .path {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header > input {
  flex-grow: 1;
  display: flex;
}

.header > div {
  flex-grow: 2;
  display: flex;
}

.header > div > nb-button-group {
  margin: auto;
  justify-items: center;
}

.footer {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
